{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form,render_field %}

{% block content %}
<div class="container mt-3">
    <p class="">Adding Price from {{ shop }} at {{ date }}</p>
    <form method="post">
        {{ form.csrf_token() }}
        {{ render_field(form.ean, form_type="horizontal") }}
        <div class="mb-3 row required">
            <div class="col-form-label col-lg-2"></div>
            <div class="col-lg-10">
                <div id="productSearchResults" class="mt-3 list-group"></div>      
            </div>
        </div>
        {{ render_field(form.price, form_type="horizontal") }}
        {{ render_field(form.submit, form_type="horizontal") }}
    </form>
    <a class="btn btn-secondary btn-md" href="/add/purchase">Go Back</a>
</div>
{% endblock %}